@import '../../../../assets/styles/variables';

.container-mask {
  position: relative;
}

.container-mask-popup {
  margin-top: 0.25rem;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: .75rem;
  min-width: 10rem;
  max-width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transform-origin: top left;
}

.text-title {
  font-size: $font-size-22;
  font-weight: 400;
}

.text-subtitle {
  font-size: $font-size-18;
}

.container-mask-toggle {
  line-height: 1;
  padding: .375rem;
  border: 1px solid #DEDEDE;
  border-radius: 10px
}

.button-mask {
  color: #253300;
  border: none;
  border-radius: 10px;
  font-size: 0.916666rem;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #DEDEDE;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 0px 10px;
  margin-right: .5rem;
}