@tailwind components;

.custom-select-container .custom-options::-webkit-scrollbar {
  width: 14px;
}

.custom-select-container .custom-options::-webkit-scrollbar-thumb {
  background-color: #ECECEC;
  border-radius: 10px;
  border: 4px solid #FFF;
}

.custom-select-container .custom-options::-webkit-scrollbar-thumb:hover {
  background-color: #DEDEDE;
}

.border-error {
  @apply border-red-500;
}