$color-text: #00162b;
$color-primary: #88c273;
$color-green: #6da85c;
$color-light-green: #E2FF91;
$color-light-yellow: #FFEA00;
$color-yellow: #FDDA0D;
$color-dark-gray : #90918E;
$color-light-yellow: #F8FFE6;
$color-light-gray: #E8E8E8;
$color-light: #fff;
$color-light-red: #FF757C;
$color-error: #F5222D;