@font-face {
  font-family: 'KanitRegular';
  src: url('../fonts/Kanit-Regular.ttf') format("truetype");
  // font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'DBHeavent';
//   src: url('../fonts/db_heavent_v3.2-webfont.eot');
//   src: url('../fonts/db_heavent_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/db_heavent_v3.2-webfont.woff2') format('woff2'),
//        url('../fonts/db_heavent_v3.2-webfont.woff') format('woff'),
//        url('../fonts/db_heavent_v3.2-webfont.ttf') format('truetype'),
//        url('../fonts/db_heavent_v3.2-webfont.svg#db_heaventregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @media screen and (min-width: 769px) {
//   html,body {
//     font-size: 24px !important;//Normal screen
//   }
// }

// @media screen and (max-width: 768px) {
//   html,body {
//     font-size: 18px !important;//Small screen
//   }
// }