@media screen and (max-width: 744px) {
  html,
  body {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 745px) and (max-width: 800px) {
  html,
  body {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  html,
  body {
    font-size: 22px !important;
  }
}

@media screen and (min-width: 1025px) {
  html,
  body {
    font-size: 24px !important;
  }
}