// 24px = 1rem
$font-size-60: 2.5rem;
$font-size-36: 1.5rem;
$font-size-30: 1.25rem;
$font-size-24: 1rem;
$font-size-23: 0.958333rem;
$font-size-22: 0.916666rem;
$font-size-20: 0.833333rem;
$font-size-18: 0.75rem;
$font-size-16: 0.666666rem;
$font-size-14: 0.583333rem;
$font-size-28: 1.166666rem;
$font-size-26: 1.083333rem;

//Sidebar
$sidebar-width: 10.833rem;
$sidebar-width-mini: 10rem;
$mini-bar-width: 3rem;