@tailwind components;
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/color';


.form-input-custom {
  @apply w-full border border-gray-300 font-medium text-[#000d19] px-3 py-2 rounded-lg transition-all;
  font-size: $font-size-24;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &::placeholder {
    color: gray-400;
    font-size: $font-size-22;
  }
}

.error {
  color: $color-error !important;
  @apply text-sm mt-1;
}

.border-error {
  border-color: $color-error !important;
}


.password-toggle {
  @apply absolute cursor-pointer bottom-[32%] right-[3%] flex items-center w-[0.7rem] h-[0.7rem] bg-contain bg-center bg-no-repeat;
  background-image: url('../../../../assets/img/icons/icon.eye-off.svg');
}

.password-toggle.show {
  background-image: url('../../../../assets/img/icons/icon.eye.svg');
}