@tailwind components;
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/color';

@layer components {

  .form-input {
    @apply w-full border border-gray-300 font-medium text-[#000d19] px-3 py-2 rounded-md focus:outline-none focus:border-[$color-primary];
    font-size: $font-size-24;

    &::placeholder {
      color: gray-400;
      font-size: $font-size-22;
    }
  }

  .form-input-red {
    border-color: $color-error !important;
  }

  .password-input {
    @apply rounded-lg !important;
  }

  .password-toggle {
    @apply absolute cursor-pointer bottom-[32%] right-[3%] flex items-center w-[0.7rem] h-[0.7rem] bg-contain bg-center bg-no-repeat;
    background-image: url('../../../../assets/img/icons/icon.eye-off.svg');
  }

  .password-toggle.show {
    background-image: url('../../../../assets/img/icons/icon.eye.svg');
  }

  .modal-text {
    font-size: $font-size-16;
    font-weight: 600;
  }
}

/* Popover animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.15s ease-out;
}