@tailwind components;
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/color';

// .card {
//     @apply bg-white border border-gray-200 rounded-2xl p-5 shadow-lg;
// }

// .vehicle-wrapper {
//     background: #fff;
//     border-radius: 20px;
//     padding: 24px;
//     box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
// }

.section-title {
    @apply text-gray-800 font-medium mb-4;

    font-size: $font-size-24;
}

.label {
    @apply mb-1 block;
    font-size: $font-size-20;
}