.layout-content {
    padding: 1rem;
}

.custom-card {
    @apply bg-white rounded-xl shadow-md;
}

label {
    font-size: 0.85rem;
}

app-table-user-management {
    display: block;
    margin-top: 3rem;
}

.create-user-btn {
    @apply bg-yellow-400 text-black font-semibold px-6 py-3 rounded-lg shadow transition-all duration-200 hover:bg-yellow-500;

    &:disabled {
        @apply bg-gray-300 text-gray-500 cursor-not-allowed shadow-none;
        opacity: 0.7;
    }
}