// .layout-content {
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

// .content-title {
//     font-weight: 700;
//     color: #253300;
//     margin-top: 1rem;
// }

.layout-content {
    padding: 1rem;
}

.custom-card {
    @apply bg-white rounded-xl shadow-md;
}

label {
    font-size: 0.85rem;
}

app-table-user-management {
    display: block;
    margin-top: 3rem;
}