@tailwind components;
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/color';

label {
  font-size: $font-size-22;
  font-weight: 500;
  color: #64748b; // slate-500
  margin-bottom: 0.25rem;
}

.form-input-custom {
  @apply w-full border border-gray-300 font-medium text-[#000d19] px-3 py-2 rounded-xl transition-all;
  font-size: $font-size-24;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }


  &::placeholder {
    color: gray-400;
    font-size: $font-size-22;
  }
}

.custom-btn {
  @apply flex-1 md:flex-none md:w-[100px] font-semibold py-2 transition;
  border-radius: 1rem;
}

custom-select {
  button {
    border-radius: 3rem !important;
  }
}