@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/color';

.password-toggle {
  background-image: url('../../../../assets/img/icons/icon.eye-off.svg');
  background-size: contain;
}

.password-toggle.show {
  background-image: url('../../../../assets/img/icons/icon.eye.svg');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.96);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.form-input-custom {
  @apply w-full border border-gray-300 font-medium text-[#000d19] px-3 py-2 rounded-lg focus:outline-none focus:border-[#$color-primary];
  font-size: $font-size-24;


  &::placeholder {
    color: gray-400;
    font-size: $font-size-22;
  }
}

.border-error {
  border-color: $color-error !important;
}