@tailwind components;
@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/color';

.card {
  @apply bg-white border border-gray-200 rounded-2xl p-5 shadow-lg;
}

.section-title {
  @apply font-semibold mb-4;

  font-size: $font-size-24;

}

.label {
  @apply mb-1 block;
  font-size: $font-size-20;
}

.input {
  @apply w-full border border-gray-300 font-medium text-[#000d19] px-3 py-2 rounded-xl transition-all;
  font-size: $font-size-24;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &::placeholder {
    color: gray-400;
    font-size: $font-size-22;
  }
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg;
}

.btn-secondary {
  @apply bg-slate-700 hover:bg-slate-600 text-white px-4 py-2 rounded-lg;
}

.input.border-red-500 {
  border-color: #ef4444 !important;
}